.best_seller {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.red {
    color: var(--primary-color);
    cursor: pointer;
}

.blue {
    color: #8989ce;
    cursor: pointer;
}

.white {
    color: var(--light-black);
    cursor: pointer;
}

.grey {
    color: grey;
    cursor: pointer;
}

.brown {
    color: rgb(175, 53, 53);
    cursor: pointer;
}

.yellow {
    color: #ffff00;
    cursor: pointer;
}

.orange {
    color: #ffa500;
    cursor: pointer;
}

.green {
    color: #008000;
    cursor: pointer;
}

.top_sales {
    margin-top: 65px;
    margin-bottom: 20px;
}

.best_p1 {
    width: 250px;
    height: 370px;
    /* border: 2px solid black; */
}

.img {
    height: 250px;
    width: 250px;
}

.seller .best-p1 .price {
    display: flex;
    justify-content: space-between;
}

.seller .best-p1 .price .colors input[type="radio"] {
    color: #000;
    background-color: #000;
}

.best-seller .buy-now a {
    text-decoration: none;
    color: var(--white);
}

.seller a:hover {
    color: #f05e8a;
}

.buy_now {
    padding: 10px 15px;
    margin-top: 5px;
    font-size: 14px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #f05e8a;
    color: var(--white);
    border: none;
    border-radius: 15px;
    font-weight: 500;
    border: 1px solid #f05e8a;
    transition: 0.5s;
}

.best-seller .add-cart button {
    padding: 10px 15px;
    margin-top: 5px;
    font-size: 14px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #f05e8a;
    color: var(--white);
    border: none;
    border-radius: 15px;
    font-weight: 500;
    border: 1px solid #f05e8a;
    transition: 0.5s;
}

.buy_now:hover {
    background-color: var(--white);
    font-weight: 600;
}

.best-seller .add-cart button:hover {
    background-color: var(--white);
    font-weight: 600;
}

.best-seller .buy-now button:hover a,
.best-seller .add-cart button:hover a {
    color: #f05e8a;
}


.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    height: 70px;
}

.logo {
    height: auto;
}

.left_nav_links {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-start;
}

.right_nav_links {
    display: flex;
    align-items: center;
}

.right_nav_links div {
    display: flex;
    align-items: center;
}

.link,
.search {
    font-size: 22px;
    color: #222;
    text-transform: uppercase;
    font-weight: 500;
    margin-left: 5px;
    transition: color 0.2s ease-in-out;
}

.link:hover,
.search:hover {
    color: #ee4d2d;
}

.cart_container {
    font-size: 24px;
    margin-left: 20px;
    /* border-right: 1px solid black; */
}

.cart_icon {
    color: #222;
    margin-right: 10px;
    transition: color 0.2s ease-in-out;
}

.cart_icon:hover {
    color: #ee4d2d;
}

.home {
    font-size: 15px;
    color: black;
    position: relative;
    font-weight: 500;
    display: inline-block;
    margin-left: 20px;
    text-decoration: none;
}

.home:hover {
    color: #ee4d2d;
}

@media only screen and (max-width: 768px) {
    .header_container {
        height: auto;
        padding: 0 0px;
    }

    .left_nav_links {
        justify-content: center;
    }

    .logo {
        width: 70px;

    }

    .right_nav_links {
        flex-direction: column;
        align-items: center;
    }

    .cart_icon {
        margin-left: 5px;
    }

    .link {
        margin: 5px;
    }

    .home {
        font-size: 15px;
        margin-left: 5px;
        margin-top: 5px;
    }

    .cart_container {
        font-size: 24px;
        margin-left: 0px;
    }
}